<div class="min-h-screen flex items-center justify-center bg-sand py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-4xl">
        Log in
      </h2>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mt-8 space-y-6" }) do |f| %>
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= f.label :email, class: "sr-only" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
              class: "appearance-none rounded-none relative block w-full px-4 py-3 border border-gray-300 placeholder-gray-400 bg-white rounded-t-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary focus:z-10 text-base",
              placeholder: "Email address" %>
        </div>
        <div>
          <%= f.label :password, class: "sr-only" %>
          <%= f.password_field :password, autocomplete: "current-password",
              class: "appearance-none rounded-none relative block w-full px-4 py-3 border border-gray-300 placeholder-gray-400 bg-white rounded-b-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary focus:z-10 text-base",
              placeholder: "Password" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex items-center">
          <%= f.check_box :remember_me, class: "h-4 w-4 text-primary focus:ring-primary border-gray-300 rounded" %>
          <%= f.label :remember_me, class: "ml-2 block text-sm" %>
        </div>
      <% end %>

      <div>
        <%= f.submit "Log in", class: "group relative w-full flex justify-center py-3 px-4 border border-transparent text-base font-medium rounded-md text-sand bg-primary hover:bg-accent-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
